<div class="topnav">
  <a class="active" href="/main">Home</a>
  <a href="/buypage">Buy</a>
  <a href="/history">History</a>
  <a href="#about">Locations</a>
</div>
<div>
<h1>The Sweet Shop</h1>
</div>
